
body {
  background-color: #5b0099;
}

p {
  color: #d9b3ff;
  text-align: center;;
  font-size: 22px;
  font-family: Impact;
}

span {
  font-size: 30px;
  font-family: Courier New;
  font-weight: bold;
}

img {
  height: 350px;
  width: 350px;
}

section {
  font-family:Impact;
  color:#d9b3ff;
}
